body {
  font-family: Arial, sans-serif;
}

th {
  &:nth-child(1), &:nth-child(2) {
    width: 2.5%;
  }

  &:nth-child(3) {
    width: 65%;
  }

  &:nth-child(4) {
    width: 30%;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0);
  border-spacing: 0;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  > {
    caption + thead > tr:first-child > {
      th, td {
        border-top: 0;
      }
    }

    colgroup + thead > tr:first-child > {
      th, td {
        border-top: 0;
      }
    }

    thead {
      &:first-child > tr:first-child > {
        th, td {
          border-top: 0;
        }
      }

      > tr > {
        th, td {
          padding: 8px;
          line-height: 1.42857;
          vertical-align: top;
          border-top: 1px solid #ddd;
        }
      }
    }

    tbody > tr > {
      th, td {
        padding: 8px;
        line-height: 1.42857;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }

    tfoot > tr > {
      th, td {
        padding: 8px;
        line-height: 1.42857;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }

    thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
  }
}

.table-bordered {
  border: 1px solid #ddd;

  > {
    thead > tr > {
      th, td {
        border: 1px solid #ddd;
      }
    }

    tbody > tr > {
      th, td {
        border: 1px solid #ddd;
      }
    }

    tfoot > tr > {
      th, td {
        border: 1px solid #ddd;
      }
    }

    thead > tr > {
      th, td {
        border-bottom-width: 2px;
      }
    }
  }
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

::placeholder {
  color: gray;
  opacity: 0.4;
}

li > {
  .btn {
    border-radius: 0;
    margin: -0.5px;
  }

  .btn-first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: -0.5px;
  }

  .btn-last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: -0.5px;
  }
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;

  &:before {
    display: table;
    content: " ";
  }

  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.modal-title {
  margin: 0;
  line-height: 1.42857;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;

  &:before {
    display: table;
    content: " ";
  }

  &:after {
    display: table;
    content: " ";
    clear: both;
  }

  .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
}

.popup-container {
  display: none;
}

.popup {
  position: fixed;
  z-index: 1000;
  width: 10%;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%) scale(0);
  padding: 20px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 80%;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.popup-container.show .popup {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.show {
  display: block !important;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

input {
  &[type="radio"], &[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }
}

.pull-right {
  float: right !important;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  line-height: normal;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  &[type="reset"], &[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
}

button, select {
  text-transform: none;
}

button {
  overflow: visible;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:focus, &.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }

  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }

  &:active, &.active {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
  }
}

.open > .btn-default.dropdown-toggle {
  color: #333;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}

.btn-default {
  &:active {
    &:hover, &:focus, &.focus {
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c;
    }
  }

  &.active {
    &:hover, &:focus, &.focus {
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c;
    }
  }
}

.open > .btn-default.dropdown-toggle {
  &:hover, &:focus, &.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }
}

.btn-default {
  &.disabled {
    &:hover, &:focus, &.focus {
      background-color: #fff;
      border-color: #ccc;
    }
  }

  &[disabled] {
    &:hover, &:focus, &.focus {
      background-color: #fff;
      border-color: #ccc;
    }
  }
}

fieldset[disabled] .btn-default {
  &:hover, &:focus, &.focus {
    background-color: #fff;
    border-color: #ccc;
  }
}

.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;

  &:focus, &.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
  }

  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }

  &:active, &.active {
    color: #fff;
    background-color: #286090;
    background-image: none;
    border-color: #204d74;
  }
}

.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #286090;
  background-image: none;
  border-color: #204d74;
}

.btn-primary {
  &:active {
    &:hover, &:focus, &.focus {
      color: #fff;
      background-color: #204d74;
      border-color: #122b40;
    }
  }

  &.active {
    &:hover, &:focus, &.focus {
      color: #fff;
      background-color: #204d74;
      border-color: #122b40;
    }
  }
}

.open > .btn-primary.dropdown-toggle {
  &:hover, &:focus, &.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
  }
}

.btn-primary {
  &.disabled {
    &:hover, &:focus, &.focus {
      background-color: #337ab7;
      border-color: #2e6da4;
    }
  }

  &[disabled] {
    &:hover, &:focus, &.focus {
      background-color: #337ab7;
      border-color: #2e6da4;
    }
  }
}

fieldset[disabled] .btn-primary {
  &:hover, &:focus, &.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
}

.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;

  &:focus, &.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
  }

  &:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
  }

  &:active, &.active {
    color: #fff;
    background-color: #ec971f;
    background-image: none;
    border-color: #d58512;
  }
}

.open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  background-image: none;
  border-color: #d58512;
}

.btn-warning {
  &:active {
    &:hover, &:focus, &.focus {
      color: #fff;
      background-color: #d58512;
      border-color: #985f0d;
    }
  }

  &.active {
    &:hover, &:focus, &.focus {
      color: #fff;
      background-color: #d58512;
      border-color: #985f0d;
    }
  }
}

.open > .btn-warning.dropdown-toggle {
  &:hover, &:focus, &.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
  }
}

.btn-warning {
  &.disabled {
    &:hover, &:focus, &.focus {
      background-color: #f0ad4e;
      border-color: #eea236;
    }
  }

  &[disabled] {
    &:hover, &:focus, &.focus {
      background-color: #f0ad4e;
      border-color: #eea236;
    }
  }
}

fieldset[disabled] .btn-warning {
  &:hover, &:focus, &.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;

  &:focus, &.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
  }

  &:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }

  &:active, &.active {
    color: #fff;
    background-color: #c9302c;
    background-image: none;
    border-color: #ac2925;
  }
}

.open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  background-image: none;
  border-color: #ac2925;
}

.btn-danger {
  &:active {
    &:hover, &:focus, &.focus {
      color: #fff;
      background-color: #ac2925;
      border-color: #761c19;
    }
  }

  &.active {
    &:hover, &:focus, &.focus {
      color: #fff;
      background-color: #ac2925;
      border-color: #761c19;
    }
  }
}

.open > .btn-danger.dropdown-toggle {
  &:hover, &:focus, &.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
  }
}

.btn-danger {
  &.disabled {
    &:hover, &:focus, &.focus {
      background-color: #d9534f;
      border-color: #d43f3a;
    }
  }

  &[disabled] {
    &:hover, &:focus, &.focus {
      background-color: #d9534f;
      border-color: #d43f3a;
    }
  }
}

fieldset[disabled] .btn-danger {
  &:hover, &:focus, &.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
  }
}

.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

.row {
  margin-right: -15px;
  margin-left: -15px;

  &:before, &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

a {
  cursor: pointer;
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #23527c;
    text-decoration: underline;
  }

  &:focus {
    color: #23527c;
    text-decoration: underline;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

.input-group-sm > {
  select {
    &.form-control, &.input-group-addon {
      height: 30px;
      line-height: 30px;
    }
  }

  .input-group-btn > select.btn {
    height: 30px;
    line-height: 30px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control-static {
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.input-group-sm > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

.btn-toolbar {
  margin-left: -5px;

  &:before, &:after {
    display: table;
    content: " ";
  }

  .btn, .btn-group, .input-group {
    margin-left: 5px;
    float: left;
  }

  > {
    .btn, .btn-group, .input-group {
      margin-left: 5px;
    }
  }
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .btn {
  position: relative;
  float: left;
  &:first-child {
    margin-left: 0;
    &:not(:last-child):not(.dropdown-toggle) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.btn-group-vertical > .btn {
  position: relative;
  float: left;
}

.btn {
  &.disabled, &[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity = 65);
    opacity: 0.65;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity = 65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button[disabled], html input[disabled] {
  cursor: default;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group {
  > {
    .btn:last-child:not(:first-child), .dropdown-toggle:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .btn + {
    .btn, .btn-group {
      margin-left: -1px;
    }
  }

  .btn-group + {
    .btn, .btn-group {
      margin-left: -1px;
    }
  }

  > .btn + .dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.btn .caret {
  margin-left: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap;
}

* {
  &:before, &:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.text-muted {
  color: #777;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

b, strong {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

th {
  text-align: left;
}

td, th {
  padding: 0;
}

.text-info {
  color: #31708f;
}

.table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.clearfix {
  &:before {
    display: table;
    content: " ";
  }

  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}

p {
  margin: 0 0 10px;
}

.answerarea[editable="true"] {
  cursor: pointer;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav li, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.pull-left {
  float: left !important;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

  > li {
    display: inline;
  }
}

ul.pagination + div.btn-group {
  margin-left: 20px;
}

.pagination-collapse {
  margin: 0;
}

.btn {
  &:active, &.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

.padding-full-side {
  padding-left: 0px;
  padding-right: 0px;
}

.narrow-hr {
  border: none;
  height: 0.3px;
  color: #777;
  background-color: #777;
  margin-top: 4px;
  margin-bottom: 4px;
}

.full-width {
  width: 100%;
}

.solution {
  background: #efefef;
  padding: 10px;
  border-radius: 5px;
}

.notify {
  top: 200%;
  right: 200%;
  position: fixed;
  background-color: #1ba;
  opacity: 0;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 1000;

  &.show {
    top: 10%;
    right: 45%;
    opacity: 0.9;
    visibility: visible;
  }
}

#notifyMessage {
  text-align: center;
}
